* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


.home-section {
    background: url(fotograflar/deep-forest-green-watercolor-background_54887-112.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-overlay{
    height: 100vh;
    background: rgba(2, 21, 13, 0.622)
}

a {
    text-decoration: none;
    color: white
}



.home-text {
    background: linear-gradient(90deg, rgba(8, 255, 151, 1) 0%, rgba(0, 255, 148, 0.69) 35%, rgba(147, 204, 222, 1) 58%, rgba(0, 240, 255, 1) 99.99%, rgba(0, 255, 148, 0) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  
  .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
  }
  
  .cool-link:hover::after {
    width: 100%;
    //transition: width .3s;
  }


