* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}


.section {
    background: url(fotograflar/deep-forest-green-watercolor-background_54887-112.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}